{
  "name": "CustomDateManager",
  "label": "[[label]]",
  "description": "[[description]]",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "author": "Arebil",
  "commands": []
}